* {
    box-sizing: border-box;
}

#search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

input {
    margin-top: 5px;
}


.results-page {
    display: none;
    margin-top: 60px;
}

.results {
    height: 250px;
    width: 250px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

.image {
    height: 150px;
    width: 150px;
    margin-top: 5px;
    border: 1px solid black;
}

.education-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}