* {
    box-sizing: border-box;
}

#search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

input {
    margin-top: 5px;
}

#local-search,
#state-search {
    font-style: italic;
}

.results-page {
    display: none;
    margin-top: 60px;
}

.school-results,
.college-results {
    height: 350px;
    width: 250px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

.image {
    height: 150px;
    width: 150px;
    margin-top: 5px;
    border: 1px solid black;
}

.education-images {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-search-button {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
}


span {
    margin-bottom: 0%;
    margin-top: 10px;
}